body {
    background-image: linear-gradient(to right, #0ba360 0%, #3cba92 100%);
}

.col-md-7 {
    margin-top: 150px !important;
    background-color: white;
    padding: 20px !important;
}

input,
label {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

h1 {
    background-color: rgb(15, 176, 106);
    color: white;
    text-transform: uppercase;
}

button {
    outline: none;
    border: none;
    padding: 10px;
    font-weight: bolder;
    background-color: rgb(4, 81, 47);
    color: white;
    margin-top: 12px ;
    text-transform: uppercase;

}

button:hover {
    background-color: white;
    color: rgb(4, 81, 47);
    border: 2px solid rgb(4, 81, 47);
    
}